langchain
httpx
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-chroma
chromadb
groq
python-dotenv
sentence-transformers
fastapi
uvicorn
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
pypdf==5.9.0
rank-bm25
huggingface_hub==0.25.2
python-docx
spaces
gradio>=4.0.0
google-auth>=2.28.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
pydantic-settings>=2.0.0
rapidocr-onnxruntime
PyMuPDF
pypdfium2