langchain
httpx
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-chroma
chromadb
groq
python-dotenv
sentence-transformers
fastapi
uvicorn
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
pypdf==5.9.0
rank-bm25
huggingface_hub==0.25.2
python-docx
spaces
gradio>=4.0.0